:root {
  --gradient: linear-gradient(90deg, #1dcf00, #1f850f, #6dd089 );
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  /*font-family: basic-sans, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: #333;
  background: #ddd;
  
  */
  background-size: 300%;
  background: var(--gradient);
  animation: bg-animation 25s infinite;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.btn {
  height: 0.5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.btn:hover {
  filter: drop-shadow(0 0 2em #010105aa);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #e9e9e9aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
